.git
.idea
.vscode
.node
.phpunit.cache
.ai
.claude
.opencode
storage/logs
storage/framework/views
storage/framework/cache
storage/framework/sessions
node_modules
vendor
public/build
public/hot
.env
.env.backup
.env.production
.phpactor.json
Homestead.json
Homestead.yaml
Thumbs.db
.DS_Store
*.log
docker-compose.yml
docker-compose.*.yml
Dockerfile
.dockerignore
.phpunit.result.cache
