@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: var(--en-font, 'Inter'), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --font-arabic: var(--ar-font, 'Cairo'), ui-sans-serif, system-ui, sans-serif;
}

html[lang="ar"] body,
html[lang="he"] body,
html[lang="fa"] body,
html[lang="ur"] body {
    font-family: var(--font-arabic);
}
